.subscribe-container {
    max-width: 800px;
    margin: 60px auto;
    background-color: rgba(130, 184, 219, 0.5);
    border: 5px solid rgb(98, 143, 228);
}
.subscribe-container form {
    display: flex;
    flex-wrap: wrap;
}
.subscribe-container form input {
    margin: 15px;
    border: 1px solid rgb(98, 143, 228);
    padding: 0.4rem;
}
.subscribe-container form input {
    flex: 1 1 200px;
}

.subscribe-container form input[type="submit"] {
    border-radius: 3px;
    background-color: rgba(17, 228, 10, 0.5);
color: rgb(98, 143, 228);
}

.subscribe-container form input[type="email"] {
    flex: 1 1 250px;
}


.first-page input[class = guest]{
    width : 200px;
    height : 100px;
    margin: 60px auto;
    background-color: rgba(216, 20, 72, 0.5);
    border: 5px solid rgb(0, 0, 0);
}
.first-page input[class = login]{
    width : 200px;
    height : 100px;
    margin: 60px auto;
    background-color: rgba(216, 20, 72, 0.5);
    border: 5px solid rgb(0, 0, 0);
}
.first-page input[class = signup]{
    width : 200px;
    height : 100px;
    margin: 60px auto;
    background-color: rgba(216, 20, 72, 0.5);
    border: 5px solid rgb(0, 0, 0);
}

.restaurant-container{
    width: 1000px;
    height : 600px;
    max-width: 1200px;
    max-height: 700;
    margin: 0 auto;
    background-color: rgba(130, 184, 219, 0.5);
    border: 5px solid rgb(98, 143, 228);
}

.res-body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(650px, 1fr));
    grid-gap: 10px;
    width: 90%;
    background-color: blueviolet;
}

.first-page {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 10px;
    width: 100%;
    background-color:cornsilk;
    align-items: center;
}

.background{
    background-color:cornsilk;
}

.h1 {
    width: 80%;
    color:  rgba(216, 20, 72, 0.5);
    margin: auto;
    align-self: center;
    font-size: 70px;
}

.p1 {
    padding-top: 30px;
    width: 100%;
    color:  rgba(216, 20, 72, 0.5);
    margin: auto;
    align-self: center;
    font-size: 40px;
}

.p2 {
    padding-top: 30px;
    padding-bottom: 50px;
    width: 100%;
    color:  rgba(216, 20, 72, 0.5);
    margin: auto;
    align-self: center;
    font-size: 40px;
}

