.subscribe-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    max-width: 800px;
    max-height: 600px;
    width: 500px;
    height: 500px;
    margin: 60px auto;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    border: 5px solid rgb(5, 5, 5);
}
.subscribe-container form {
    padding-bottom: 30px;
}

.subscribe-container form h1{
    font-size: 40px;
    margin: 15px;
    margin-bottom: 60px;
}

.subscribe-container form input {
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 15px;
    border: 1px solid rgb(162, 33, 19);
    padding: 0.4rem;
}


.subscribe-container form input[type="submit"] {
    width: 90%;
    padding: 10%;
    font-size: 50px;
    bottom: 0%;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 5px;
    border: 5px solid rgb(5, 5, 5);
    background-color: rgba(216, 20, 72, 0.5);
}

.subscribe-container form label[class="em-css"] {
    font-size: 40;
    margin: 15px;
    padding-bottom: 30px;
}

.subscribe-container form label[class="pass-css"] {
    margin: 15px;
    font-size: 40;
    padding-top: 30px;
}

.first-page input[class = guest]{
    width : 200px;
    height : 100px;
    margin: 60px auto;
    background-color: rgba(216, 20, 72, 0.5);
    border: 5px solid rgb(0, 0, 0);
}
.first-page input[class = login]{
    width : 200px;
    height : 100px;
    margin: 60px auto;
    background-color: rgba(216, 20, 72, 0.5);
    border: 5px solid rgb(0, 0, 0);
}
.first-page input[class = signup]{
    width : 200px;
    height : 100px;
    margin: 60px auto;
    background-color: rgba(216, 20, 72, 0.5);
    border: 5px solid rgb(0, 0, 0);
}

.restaurant-container{
    width: 100%;
    height : 700px;
    max-width: 1000px;
    max-height: 700;
    padding: 10px;

}


.first-page {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 10px;
    width: 100%;
    background-color:cornsilk;
    align-items: center;
}

.background{
    background-color:cornsilk;
}

.restaurant-container h1{
    font-size: 50px;
    color: crimson;
}

.restaurant-container input[type = text]{
    width: 900px;
    height: 100px;
}

.restaurant-container p{
    font-size: 25px;
    max-width: 900px;
}

.h1 {
    width: 80%;
    color:  rgba(216, 20, 72, 0.5);
    margin: auto;
    align-self: center;
    font-size: 70px;
}

.p1 {
    padding-top: 30px;
    width: 100%;
    color:  rgba(216, 20, 72, 0.5);
    margin: auto;
    align-self: center;
    font-size: 40px;
}

.p2 {
    padding-top: 30px;
    padding-bottom: 50px;
    width: 100%;
    color:  rgba(216, 20, 72, 0.5);
    margin: auto;
    align-self: center;
    font-size: 40px;
}

#wrapper {
    margin-left:auto;
    margin-right:auto;
    width:960px;
    margin-bottom: auto;
}

.restaurant-container form input[type="submit"] {
    width: 100px;
    font-size: 20px;
    padding-top: 10px;
    border-radius: 5px;
    border: 5px solid rgb(5, 5, 5);
    background-color: rgba(216, 20, 72, 0.5);
}

.h2-test h2{
    color: crimson;
    font-size: 20px;
    width: 100%;
    text-align: center;
}